<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details of Places</title>

    {% load static %}

    <link rel="stylesheet" href=" {% static 'css/details.css' %} ">

    <script src="https://kit.fontawesome.com/3698113056.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <script src="https://kit.fontawesome.com/3698113056.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="js/script.js" defer></script>

</head>


<body>

    <header class="header">

        <div id="menu-btn" class="fas fa-bars"></div>

        <a data-aos="zoom-in-left" data-aos-delay="150" href="#" class="logo"> <i class="fas fa-paper-plane"></i>Travel
        </a>

        <div class="navbar">
            <ul class="links">
                <li>

                    <a data-aos="zoom-in-left" data-aos-delay="300" href="{% url 'index' %}">home</a>
                </li>

                <li>

                    <a data-aos="zoom-in-left" data-aos-delay="450" href="{% url 'about' %}">about</a>
                </li>
                <li>

                    <a data-aos="zoom-in-left" data-aos-delay="600" href="#blogs">blogs</a>
                </li>
                <li>

                    <a data-aos="zoom-in-left" data-aos-delay="750" href="#chatbox">Chatbox</a>
                </li>
                <li>
                    <a data-aos="zoom-in-left" data-aos-delay="900" href="#">Login <i
                            class="fa-solid fa-caret-down"></i></a>
                    <div class="dropdown_menu">
                        <ul>
                            <li><a href="{% url 'login' %}">Login as User</a></li>
                            <li><a href="{% url 'guideLogin' %}">Login as Guide</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

    </header>



    <!-- details section -->

    <section class="details" id="details">
        <div class="placeContainer">
            <img src="{% static 'places/Boudhanath_Stupa.jpg' %}" alt="" id="placeImage" width="350px">
            <div class="info">
                <span id="placeTitle">Boudhanath Stupa</span>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus dolores quo nihil quasi
                    nulla
                    optio iure doloribus numquam? Ex a quis veniam eaque?</p>
                    <div class="ratings">
                        <h2>Rate this place :</h2>
                        <div class="post">
                            <div class="review">
        
                                <h2 class="text">Thanks for rating!
                                </h2>
                                <h2 class="edit">EDIT</h2>
                            </div>
                        </div>
                        <div class="star-widget">
                            <input type="radio" name="rate" id="rate-5">
                            <label for="rate-5"><i class="fa-solid fa-star"></i></label>
                            <input type="radio" name="rate" id="rate-4">
                            <label for="rate-4"><i class="fa-solid fa-star"></i></label>
                            <input type="radio" name="rate" id="rate-3">
                            <label for="rate-3"><i class="fa-solid fa-star"></i></label>
                            <input type="radio" name="rate" id="rate-2">
                            <label for="rate-2"><i class="fa-solid fa-star"></i></label>
                            <input type="radio" name="rate" id="rate-1">
                            <label for="rate-1"><i class="fa-solid fa-star"></i></label>
                        </div>
                        <form action="#">
                            <button class="btn rating-btn" type="submit">Post</button>
                        </form>
                    </div>
                    <a href="{% url 'guideLIst' %}" class="btn">Need a Guide?</a>
            </div>
        </div>
    </section>
    <div class="description">
        <h2>Description:</h2>
        <p>Bouddha (Nepali: बौद्धनाथ; Newar: खास्ति चैत्य; Standard Tibetan: བྱ་རུང་ཁ་ཤོར།, romanized: Jarung Khashor,
            Wylie: bya
            rung kha shor), also known as Boudhanath, Khasti Chaitya and Khāsa Chaitya is a stupa in Kathmandu,
            Nepal.[2] Located
            about 11 km (6.8 mi) from the center and northeastern outskirts of Kathmandu, its massive mandala makes it
            one of the
            largest spherical stupas in Nepal[3] and the world.
            The influx of large populations of refugees from Tibet has seen the construction of over 50 gompas (Tibetan
            monastery)
            around Boudha. As of 1979, Boudha Stupa is a UNESCO World Heritage Site. Along with Swayambhu, it is one of
            the most
            popular tourist sites in the Kathmandu area.
            The stupa is on the ancient trade route from Tibet which enters the Kathmandu Valley by the village of
            Sankhu in the
            northeast corner and continues to the ancient and smaller stupa of Chabahil named Charumati Stupa (often
            called "Little
            Boudhanath"). It then turns directly south, heading over the Bagmati River to Lalitpur, bypassing the main
            city of
            Kathmandu (which was built later).[2] Tibetan merchants have rested and offered prayers at Boudha Stupa for
            many
            centuries. When refugees entered Nepal from Tibet in the 1950s, many decided to live around Boudhanath. The
            stupa is
            said to entomb the remains of Kassapa Buddha.
        </p>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>

    <script>

        AOS.init({
            duration: 800,
            offset: 150,
        });

    </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

    <script>
        const btn = document.querySelector('button');
        const post = document.querySelector('.post');
        const widget = document.querySelector('.star-widget');
        const edit = document.querySelector('.edit');
        btn.onclick = () => {
            widget.style.display = "none";
            btn.style.display = "none";
            post.style.display = "block";
            edit.onclick = () => {
                widget.style.display = "block";
                btn.style.display = "block";
                post.style.display = "none";
            }
            return false
        }
    </script>
    <!-- <script>
        document.getElementById("placeTitle").innerHTML = localStorage.getItem("titlevalue");
        document.getElementById("placeImage").setAttribute("src", localStorage.getItem("imagevalue"));
    </script> -->

</body>

</html>