<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details of Places</title>

    {% load static %}

    <link rel="stylesheet" href=" {% static 'css/details.css' %} ">

    <script src="https://kit.fontawesome.com/3698113056.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <script src="https://kit.fontawesome.com/3698113056.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="js/script.js" defer></script>

</head>


<body>

    <header class="header">

        <div id="menu-btn" class="fas fa-bars"></div>

        <a data-aos="zoom-in-left" data-aos-delay="150" href="#" class="logo"> <i class="fas fa-paper-plane"></i>Travel
        </a>

        <div class="navbar">
            <ul class="links">
                <li>

                    <a data-aos="zoom-in-left" data-aos-delay="300" href="{% url 'index' %}">home</a>
                </li>

                <li>

                    <a data-aos="zoom-in-left" data-aos-delay="450" href="{% url 'about' %}">about</a>
                </li>
                <li>

                    <a data-aos="zoom-in-left" data-aos-delay="600" href="#blogs">blogs</a>
                </li>
                <li>

                    <a data-aos="zoom-in-left" data-aos-delay="750" href="#chatbox">Chatbox</a>
                </li>
                <li>
                    <a data-aos="zoom-in-left" data-aos-delay="900" href="#">Login <i
                            class="fa-solid fa-caret-down"></i></a>
                    <div class="dropdown_menu">
                        <ul>
                            <li><a href="{% url 'login' %}">Login as User</a></li>
                            <li><a href="{% url 'guideLogin' %}">Login as Guide</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

    </header>



    <!-- details section -->

    <section class="details" id="details">
        <div class="placeContainer">
            <img src="{% static 'places/Freak_Street.jpg' %}" alt="" id="placeImage" width="350px">
            <div class="info">
                <span id="placeTitle">Freak Street</span>
                <p>Jhochhen, Kathmandu</p>
                <div class="ratings">
                    <h2>Rate this place :</h2>
                    <div class="post">
                        <div class="review">
    
                            <h2 class="text">Thanks for rating!
                            </h2>
                            <h2 class="edit">EDIT</h2>
                        </div>
                    </div>
                    <div class="star-widget">
                        <input type="radio" name="rate" id="rate-5">
                        <label for="rate-5"><i class="fa-solid fa-star"></i></label>
                        <input type="radio" name="rate" id="rate-4">
                        <label for="rate-4"><i class="fa-solid fa-star"></i></label>
                        <input type="radio" name="rate" id="rate-3">
                        <label for="rate-3"><i class="fa-solid fa-star"></i></label>
                        <input type="radio" name="rate" id="rate-2">
                        <label for="rate-2"><i class="fa-solid fa-star"></i></label>
                        <input type="radio" name="rate" id="rate-1">
                        <label for="rate-1"><i class="fa-solid fa-star"></i></label>
                    </div>
                    <form action="#">
                        <button class="btn rating-btn" type="submit">Post</button>
                    </form>
                </div>
                <a href="{% url 'guideLIst' %}" class="btn">Need a Guide?</a>
            </div>
        </div>
    </section>
    <div class="description">
        <h2>Description:</h2>
        <p>Jhochhen Tole (Nepali: झोछेँ टोल, romanized: Jhochhen Tole), popularly known as Old Freak Street, or Freak
            Street is a
            small neighbourhood located at the south of Kathmandu Durbar Square.

            Presently known as Old Freak Street, this ancient street was named Freak Street, referring to the hippie
            trail of the
            1960s and 1970s.Freak Street was the epicenter during the Hippie trail from the early 1960s to late 1970s.
            During that time the main
            attraction drawing tourists to Freak Street was the government-run hashish shops. Hippies from different
            parts of the
            world traveled to Freak Street (Basantapur) in search of legal cannabis. Direct bus services to Freak Street
            were also
            available from the airport and borders targeting the hippies looking for legal smokes. Freak Street was a
            hippie
            nirvana, since marijuana and hashish were legal and sold openly in government licensed shops.[1] A young
            restless
            population in the west, seeking to distance itself from political and social frustration, had firsthand
            contact with the
            culture, art and architecture, and lifestyle that attracted them to Freak Street.
        </p>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>

    <script>

        AOS.init({
            duration: 800,
            offset: 150,
        });

    </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

    <script>
        const btn = document.querySelector('button');
        const post = document.querySelector('.post');
        const widget = document.querySelector('.star-widget');
        const edit = document.querySelector('.edit');
        btn.onclick = () => {
            widget.style.display = "none";
            btn.style.display = "none";
            post.style.display = "block";
            edit.onclick = () => {
                widget.style.display = "block";
                btn.style.display = "block";
                post.style.display = "none";
            }
            return false
        }
    </script>
    <!-- <script>
        document.getElementById("placeTitle").innerHTML = localStorage.getItem("titlevalue");
        document.getElementById("placeImage").setAttribute("src", localStorage.getItem("imagevalue"));
    </script> -->

</body>

</html>