<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details of Places</title>

    {% load static %}

    <link rel="stylesheet" href=" {% static 'css/details.css' %} ">

    <script src="https://kit.fontawesome.com/3698113056.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <script src="https://kit.fontawesome.com/3698113056.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="js/script.js" defer></script>

</head>


<body>

    <header class="header">

        <div id="menu-btn" class="fas fa-bars"></div>

        <a data-aos="zoom-in-left" data-aos-delay="150" href="#" class="logo"> <i class="fas fa-paper-plane"></i>Travel
        </a>

        <div class="navbar">
            <ul class="links">
                <li>

                    <a data-aos="zoom-in-left" data-aos-delay="300" href="{% url 'index' %}">home</a>
                </li>

                <li>

                    <a data-aos="zoom-in-left" data-aos-delay="450" href="{% url 'about' %}">about</a>
                </li>
                <li>

                    <a data-aos="zoom-in-left" data-aos-delay="600" href="#blogs">blogs</a>
                </li>
                <li>

                    <a data-aos="zoom-in-left" data-aos-delay="750" href="#chatbox">Chatbox</a>
                </li>
                <li>
                    <a data-aos="zoom-in-left" data-aos-delay="900" href="#">Login <i
                            class="fa-solid fa-caret-down"></i></a>
                    <div class="dropdown_menu">
                        <ul>
                            <li><a href="{% url 'login' %}">Login as User</a></li>
                            <li><a href="{% url 'guideLogin' %}">Login as Guide</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

    </header>



    <!-- details section -->

    <section class="details" id="details">
        <div class="placeContainer">
            <img src="{% static 'places/Pashupatinath_Temple.jpg' %}" alt="" id="placeImage" width="350px">
            <div class="info">
                <span id="placeTitle">Pashupatinath Temple</span>
                <p>Kathmandu</p>
                <a href="{% url 'guideLIst' %}" class="btn">Need a Guide?</a>
            </div>
        </div>
    </section>
    <div class="description">
        <h2>Description:</h2>
        <p>Pashupatinath Temple (Nepali: श्री पशुपतिनाथ मन्दिर) is a Hindu temple dedicated to Lord Shiva, and is
            located in
            Kathmandu, Nepal.
            This temple was classified as a World Heritage Site in 1979. This "extensive Hindu temple precinct" is a
            "sprawling
            collection of temples, ashrams, images and inscriptions raised over the centuries along the banks of the
            sacred Bagmati
            river", and is one of seven monument groups in UNESCO's designation of Kathmandu Valley.
            The temple is one of the Paadal Petra Sthalams on the continent.

        </p>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>

    <script>

        AOS.init({
            duration: 800,
            offset: 150,
        });

    </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

    <script>
        const btn = document.querySelector('button');
        const post = document.querySelector('.post');
        const widget = document.querySelector('.star-widget');
        const edit = document.querySelector('.edit');
        btn.onclick = () => {
            widget.style.display = "none";
            btn.style.display = "none";
            post.style.display = "block";
            edit.onclick = () => {
                widget.style.display = "block";
                btn.style.display = "block";
                post.style.display = "none";
            }
            return false
        }
    </script>
    <!-- <script>
        document.getElementById("placeTitle").innerHTML = localStorage.getItem("titlevalue");
        document.getElementById("placeImage").setAttribute("src", localStorage.getItem("imagevalue"));
    </script> -->

</body>

</html>